body {
  overflow: hidden;
  overflow-y: scroll;
  width: 100vw;
}
.main__layout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__layout > ul {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
